#create_user {
  width: 700px;
  height: 35px;
  background-color: gray;
  position: relative;
  left: -780px;
  padding-left: 75px;
  border-radius: 6px;
}

#form_user {
  margin-left: 264px;
}

#create_user input {
  height: 13px;
  width: 152px;
  margin-bottom: 3px;
  margin-left: 10px;
  margin-top: 6px;
}

#ul_nav {
  margin-bottom: 0px;
}

#button_create {
  height: 23px;
  margin-top: 4px;
  margin-left: 10px;
  padding-top: 0px;
}

#form_text {
  position: absolute;
  z-index: 100;
  margin-left: 70px;
  padding-top: 8px;
  color: #66FFFF;
}

#box {
  padding-left:162px;
}

h1 {
  text-align: center;
}

h2 {
  text-align: center;
}

#create_survey {
  margin-top: 50px;
  margin-left: 50px;
}

.questions {
  margin-top: 20px;
  margin-bottom: 5px;
  background-color: gray;
  width: 800px;
  border-radius: 6px;
}

.question {
  margin-left: 11px;
  margin-top: 6px;
  margin-bottom: 6px !important;
}

.choice {
  margin-right: 900px;
  background-color: #CCFFFF !important;
}

#take_survey {
  list-style-type: none;
}

#take_survey p {
  margin-top: 10px;
  margin-bottom: 10px;
  width: 200px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 20px;
  background-color: rgba(240,240,240, 1);
  border-radius: 6px;
}

#take_survey p input {
  margin-right: 10px;
}
