<div id='add_another_question'>
  <br>
  <input type="text" name='question[content]' placeholder='question'><br>
  <input type="text" name='choiceone[content]' placeholder='choice 1'>
  <input type="text" name='choicetwo[content]' placeholder='choice 2'>
  <input type="text" name='choicethree[content]' placeholder='choice 3'><br>
  <br>
</div>
