
<div id='create_user' class='pan12'>
  <span id="form_text" display="hidden"></span>
  <form id='form_user' action="/create_user" method="post">
    <input type='text' name='username' placeholder='username'>
    <input type='text' name='password' placeholder='password'>
    <button id='button_create' class='btn btn-success'>login</button>
  </form>
</div>

