<form action ="/create_survey" method="post">
  <input type="text" name='survey[name]' placeholder='survey name'><br><br>
  <div id='add_more_questions'></div>
  <div id="partial">
    <%= erb :_add_question, :layout => false %>  
  </div>
  <input type="submit" value="submit">
</form>
<br>
<button id='add_question'>Add New Question</button>
