<div id="create_survey">
  <form id='survey_form' action ="/create_survey" method="post">
    <input id='form_button' type="submit" class='btn btn-success' value="Create Survey">
    <br><br>
    <input type="text" name='survey[name]' placeholder='survey name'><br><br>
    <div class='survey_questions'>
    </div> 
  </form>

  <br>
  <button id='add_question' class='btn btn-warning'>Add New Question</button>
  <button id='add_choice' class='btn btn-warning'>Add New Choice</button>
</div>

<div id='question_template' style="display:none;" class='question_block'>
  <div class="questions">
   <input class="question" type="text" name='question[content]' placeholder='question'><br>
 </div>
 <div class='choices'>
  <input class="choice" type="text" name='choice[content]' placeholder='choice 1'><br>
  <input class="choice" type="text" name='choice[content]' placeholder='choice 2'><br>
</div>
</div>      
