<!DOCTYPE html>
<html lang="en">
<head>
  <!-- 
    normalize.css removes cross-browser differences in defaults, e.g.,
    differences in how form elements appear between Firefox and IE
    See: http://necolas.github.com/normalize.css/
  -->
  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/bootstrap.css">
  <link rel="stylesheet" href="/css/jake.css">
  <!--
    application.css is where you put your styles
  -->
  <link rel="stylesheet" href="/css/application.css">

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
  <script src="/js/application.js"></script>
  <script src="/js/bootstrap.js"></script>
  <script src="/js/jake.js"></script>

  <title></title>
</head>
<body>
  <ul id='ul_nav' class="nav nav-tabs">
    <li><a href='/' style='color: #CC3399;'>Survey Bunny</a></li> 
    <% if logged_in? %>
    <li><a href="/logout">Logout</a></li>
    <li><a href="/create_survey">Create Survey</a></li>
    <li><a href="/profile">Profile</a></li>
    <% else %>
    <li><a id='login' href="">Login</a></li>
    <%end%>
</ul>
<%= yield %>
</body>
</html>
