<div>
 <form action="/create_user" method="post">
  <input type='text' name='username'>
  <input type='text' name='password'>
  <input type='submit' value='Create User'>
 </form>

 <form action="/login" method="post">
  <input type='text' name='username'>
  <input type='text' name='password'>
  <input type='submit' value='Login'>
 </form>
</div>  
