<%= erb :_login_menu %>

<%= erb :_survey_bubbles %>
<% if @surveys %>

<ul><h2>Choose Survey to Take</h2>

  <% @surveys.each do |survey| %>
  <li><a href="/surveys/<%=survey.id%>"><%= survey.name %></a></li>
  <%end%>
</ul>
<%else%>
<h1>Login to view available surveys!</h1> 
<%end%>
