<%= erb :_login_menu %>


<% if @surveys %>
<ul><h2>Choose Survey to Take</h2>
  <%= erb :_survey_bubbles %>
<%else%>
<h1>Login to view available surveys!</h1> 
<%end%>

<img src="../bunny.jpg" alt="some_text" width="304" height="228">

