<h2>Results for "<%= @survey.name %>"</h2>

<div class="results-display">
  <h4 id="question"></h4>
</div>

<p>
  <button class="btn disabled" id="prev">Previous</button>
  <button class="btn" id="next">Next</button>
</p>
